/******** Main Reset ********/
body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 900;
  letter-spacing: 2px;
}

#header {
  background-color: #ff4c68;
}

.container-fluid {
  padding: 3% 15%;
}

/* Navbar */

#navbarNavAltMarkup {
  justify-content: right;
}

.navbar{
  padding: 0 0 4.5rem;
}

#header .logo {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

#navbarNavAltMarkup .nav-item {
  padding: 0 24px;
  font-size: 1.2rem;
  color: #fff;
}

/* Title */

.heading {
  color: #fff;
}

/* Download Button */
.download-button,
.download-button .icon {
  margin: 5% 3% 5% 0;
}