/******** Main Reset ********/
body {
  font-family: 'Montserrat';
}

#navigation {
  background-color: #ff4c68;
}

.navbar .logo {
  color: #fff;
}

.navbar-nav.navigation .nav-link {
  color: #fff;
}

#navbarNavAltMarkup {
  justify-content: right;
}